PORT=8080
ENV=development

# Supabase PostgreSQL Connection String
# Didapat dari Dashboard Supabase -> Project Settings -> Database -> Connection string -> URI (Mode: Transaction / Session Pooler)
# Contoh: postgresql://postgres.[project-ref]:[password]@aws-0-[region].pooler.supabase.com:6543/postgres?sslmode=require
DATABASE_URL=postgresql://postgres.your-project-ref:your-password@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?sslmode=require

# JWT Configuration
JWT_SECRET=supersecretkey-arisankita-wad-kelompok6-ganti-ini
JWT_EXPIRE_HOURS=72
